body{
background-image: url('../img/background.jpg');
font-family: sans-serif;
color: rgb(24,24,24);
z-index: -10;
}
div#appsMain {
  position: relative;
  top: 80px;
  background-color: white;
  width: 100%;
  height: 100%;
}
section#appsMain {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 0px auto;
  margin-top: 5px;
}
header {
  width: 100%;
  position: fixed;
  top: 0px;
  text-align: center;
  justify-content: center;
  z-index: 100;
}
#app {
  text-align: center;
  justify-content: center;
  width: 100%;
  z-index: 100;
}
nav {
  text-align: center;
  justify-content: center;
}
img {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
}
.agregar{
  color:black;
  padding: 0px;
}
.sinpadding{
  padding: 0px;
}
li{
  list-style: none;
  width:100%;
}
li#applications {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  margin-left: 0px auto;
}
li#applications1 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  margin-left: 0px auto;
  margin-right: 10px;
  position: relative;
  right: 20px;
}
li#appShow {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  background-color: white;
}
li#comments {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  border-style: dashed;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  background-color: white;
}
section#malaSeccion {
  display: hidden;
  justify-content: center;
  font-family: sans-serif;
  position: relative;
  top: 100px;
  width: 100%;
  border-left: 50px;
  border-right: 50px;
}
article#tituloCategoria {
  position: relative;
  top: 65px;
  width: 100%;
}
article#nombreCategoria {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 70px;
  background-color: white;
}
article#nombreCategorias {
  display: flex;
  width: 100%;
  position: relative;
  top: 100px;
  justify-content: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
}
h4#nombreCategoria {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: groove;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  background-color: blue;
  color: white;
}
h4#nombreCategorias {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  border-style: groove;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: blue;
  color: white;
}
li#applicationsInCat {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: solid;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  margin-top: 5px;
}
article#loginCard {
  display: flex;
  position: absolute;
  top: 100px;
  width: 100%;
}
article#registerCard {
  display: flex;
  position: absolute;
  top: 100px;
  width: 100%;
}
form#search {
  display: flex;
  position: relative;
  top: 8px;
  left: 12px;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
#encabezadoHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenidoAltoHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenidoBajoHome {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 600px;
}
#homeImg {
  border-radius: 8px;
  padding: 10px;
  width: 400px;
  height: 400px;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
}
h3 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
}
h4 {
  display: flex;
  text-align: center;
  justify-content: center;
}
li#comments {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-style: double;
  border-color: rgba(105,105,105,0.7);
  border-radius: 5px;
  margin: 5px;
  position: relative;
  right: 5px;
}
p#commentRating {
  color: blue;
}
